<div class="container">
  <div class="row">
    <app-navbar></app-navbar>
  </div>
  <div class="row">
    <div class="col-sm"><app-form-employee (newFinishDeleteEvent)="finishDelete()" (newEmpEvent) = "updateTable()" [updateEmployee] = "employee" [isDelete]="signDelete"></app-form-employee></div>
    <div class="col-sm"><app-employee-table (newDeleteEvent) = "deleteEmpEvent()" (newUpdateEmpEvent) = "updateEmpEvent($event)" (newUpdateTableEvent) = "updateTableFinish()" [isUpdate] = "signUpdate"></app-employee-table></div>
  </div>
</div>
