<div class="countryDetail">
    <h2>{{country.name}}</h2>
    <table>
        <tr>
            <th>Capital:</th>
            <td>{{country.capital}}</td>
        </tr>
        <tr>
            <th>Area:</th>
            <td>{{country.area}}</td>
        </tr>
        <tr>
            <th>Population:</th>
            <td>{{country.population}}</td>
        </tr>
        <tr>
            <th>GDP:</th>
            <td>{{country.gdp}}</td>
        </tr>
        <tr>
            <th>Currency:</th>
            <td>{{country.currency}}</td>
        </tr>
    </table>
    <button (click)="goBack()">Go Back</button>
</div>