<h3>Customer Card Form</h3>
<form [formGroup]="cardForm" (ngSubmit)="inputCard(content)">
  <div class="row">
    <div class="col-sm">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="cardOwnerName"
          class="form-control"
          name="floatingCardOwner"
          id="floatingCardOwner"
          placeholder="Card Owner Name"
          (focusout)="validate()"
        />
        <label for="floatingCardOwner">Card Owner Name</label>
      </div>
      <span
        *ngIf="
          cardOwnerName &&
          cardOwnerName.touched &&
          errors.cardOwnerName.required
        "
        style="color: red"
      >
        Card Owner Name required
      </span>
      <span
        *ngIf="
          cardOwnerName && cardOwnerName.touched && errors.cardOwnerName.pattern
        "
        style="color: red"
      >
        Input only char
      </span>
      <span
        *ngIf="
          cardOwnerName &&
          cardOwnerName.touched &&
          errors.cardOwnerName.minlength
        "
        style="color: red"
      >
        Minimum input is 3 character
      </span>
      <!-- <span
            *ngIf="errors.inputTodo.required"
            style="color: red"
          >
            Input a text
          </span> -->
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="cardNumber"
          class="form-control"
          name="floatingCardNumber"
          id="floatingCardNumber"
          placeholder="Card Number"
        />
        <label for="floatingCardNumber">Card Number</label>
      </div>

      <span
        *ngIf="cardNumber && cardNumber.touched && cardNumber.invalid"
        style="color: red"
      >
        Card Number only 16 and input only number
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="form-floating mb-3">
        <input
          type="password"
          formControlName="securityCode"
          class="form-control"
          name="floatingSecurityCode"
          id="floatingSecurityCode"
          placeholder="Security Code"
        />
        <label for="floatingSecurityCode">Security Code</label>
        <span
          *ngIf="
            securityCode && securityCode.touched && securityCode.invalid
          "
          style="color: red"
        >
          Security code is required
        </span>
      </div>
    </div>

    <div class="col-sm">
      <div class="input-group">
        <div class="form-floating mb-3">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            id="floatingExpiration"
            name="dp"
            formControlName="expirationDate"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <label for="floatingExpiration">ExpirationDate</label>
          <span
          *ngIf="
            expirationDate && expirationDate.touched && expirationDate.invalid
          "
            style="color: red"
          >
            Expiration Date is required
          </span>
        </div>
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          >
            <i class="bi bi-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <input
        type="submit"
        id="submitForm"
        value="{{ btnName }}"
        class="btn btn-primary"
        [disabled]="!cardForm.valid"
      />
    </div>
    <!-- <div class="col-sm">
            <input type="submit" id="submitForm" value="{{btnName}}" class="btn btn-primary" />    
        </div> -->
  </div>
</form>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation Box</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure want to {{ btnName }} ?</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Yes {{ btnName }}
    </button>
  </div>
</ng-template>