.root{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    /* margin-top: 20px;
    
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%; */
}

h3{
    text-align: center;
}
.box{
  background-color: green;
  width: 220px;
  height: 90px;
  padding: 20px;
  margin: 20px;
  float: left;
  text-align: center;
  color: white;
}